dist: xenial
language: python
python:
  - "3.7"

# Using addons rather than apt-get install
addons:
  apt:
    packages:
    - mpich
    - libmpich-dev
    - libfftw3-dev
    - libnetcdf-dev
    - libnetcdf-cxx-legacy-dev
    - g++

before_install:
  - git clone git://github.com/boutproject/BOUT-dev.git

install:
  - cd BOUT-dev
  - ./configure
  - make
  - cd ..
  - pip install -r requirements.txt
  - pip install codecov pytest-cov

script:
  - pytest --cov=./ --ignore=BOUT-dev

after_success:
  - codecov
