name: Docker Image CI

on:
  push:
    branches:
      - master

jobs:
  build-docker:
    runs-on: ubuntu-latest

    steps:
    #
    - uses: actions/checkout@v1
    - name: Build and publish the docker image
      # Environment variables set in the github secrets page
      env:
        DOCKER_USERNAME: ${{secrets.DOCKER_USERNAME}}
        DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
      run: ./docker/deploy.sh