name: Lint

on:
  # Run each time we push and pull requests
  push:
  pull_request:
  # Cron job
  # https://help.github.com/en/actions/automating-your-workflow-with-github-actions/events-that-trigger-workflows#scheduled-events-schedule
  schedule:
    # https://crontab.guru/#0_0_1_*_*
    - cron: "0 0 1 * *"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8]

    steps:
      # Use the v2 tag of: https://github.com/actions/checkout
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        # Use the v2 tag of: https://github.com/actions/setup-python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        # -e installs in editable mode
        # https://stackoverflow.com/a/35064498/2786884
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade pre-commit
          python -m pip install -e '.[d]'
      - name: Lint
        run: pre-commit run --all-files
