name: Lint test

on:
  # Run each time we push and pull requests
  push:
  pull_request:
  # Cron job
  # https://help.github.com/en/actions/automating-your-workflow-with-github-actions/events-that-trigger-workflows#scheduled-events-schedule
  schedule:
    # https://crontab.guru/#0_0_1_*_*
    - cron: '0 0 1 * *'

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Check out repo
      # Use the v1 tag of: https://github.com/actions/checkout
      uses: actions/checkout@v1

    - name: Setup Python
      # Use the master branch of: https://github.com/actions/setup-python
      uses: actions/setup-python@master
      with:
        version: '3.x'

    - name: Run flake8 test
      run: |
        python -m pip install flake8-docstrings
        flake8 --docstring-convention numpy .

    - name: Run pylint test
      # https://github.com/PyCQA/pylint/issues/352
      run: |
        python -m pip install pylint
        pylint bout_runners/ tests/ *.py