name: Test

on:
  # Run each time we push and pull requests
  push:
  pull_request:
  # Cron job
  # https://help.github.com/en/actions/automating-your-workflow-with-github-actions/events-that-trigger-workflows#scheduled-events-schedule
  schedule:
    # https://crontab.guru/#0_0_1_*_*
    - cron: "0 0 1 * *"

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        python-version: [3.6, 3.7, 3.8]
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Setup prerequisites
        run: |
          sudo apt install mpich
          sudo apt install libmpich-dev
          sudo apt install libfftw3-dev
          sudo apt install libnetcdf-dev
          sudo apt install libnetcdf-cxx-legacy-dev
          sudo apt install g++

      - name: Setting up BOUT-dev next
        run: |
          git clone git://github.com/boutproject/BOUT-dev.git ${HOME}/BOUT-dev
          cd ${HOME}/BOUT-dev
          git checkout next
          ./configure
          make
          cd -

      - name: Generate coverage report
        # Install and run the coverage report
        run: |
          pip install .[test]
          pip install pytest-cov
          pytest --cov=./ --cov-report=xml

      - name: Upload coverage to Codecov
        # Use the v1 tag of: https://github.com/codecov/codecov-action
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
          flags: unittests
          name: codecov-umbrella
          yml: ./codecov.yml
